1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [16]:
# a) Write a program that prints the numbers from 1 to 100. But for multiples 
# of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. 
# For numbers which are multiples of both three and five print `MickeyMouse`

def MM():
    for i in range(1,101):
        if i%3==0 and i%5==0:
            print('MickeyMouse')
        elif i%3==0:
            print('Mickey')
        elif i%5==0:
            print('Mouse')
        else:
            print(i)

MM()

In [21]:
# b Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`
lista=[]
a='MickeyMouse'
b='Mickey'
c='Mouse'
for i in range(1,101):
    if i%3==0 and i%5==0:
        lista.append(a)
    elif i%3==0:
        lista.append(b)
    elif i%5==0:
        lista.append(c)
    else:
        lista.append(i)
lista
for j in lista:
    if j==a:
        a='Donald'
    elif j==b:
        b='Duck'

[1,
 2,
 'Mickey',
 4,
 'Mouse',
 'Mickey',
 7,
 8,
 'Mickey',
 'Mouse',
 11,
 'Mickey',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Mickey',
 19,
 'Mouse',
 'Mickey',
 22,
 23,
 'Mickey',
 'Mouse',
 26,
 'Mickey',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Mickey',
 34,
 'Mouse',
 'Mickey',
 37,
 38,
 'Mickey',
 'Mouse',
 41,
 'Mickey',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Mickey',
 49,
 'Mouse',
 'Mickey',
 52,
 53,
 'Mickey',
 'Mouse',
 56,
 'Mickey',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Mickey',
 64,
 'Mouse',
 'Mickey',
 67,
 68,
 'Mickey',
 'Mouse',
 71,
 'Mickey',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Mickey',
 79,
 'Mouse',
 'Mickey',
 82,
 83,
 'Mickey',
 'Mouse',
 86,
 'Mickey',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Mickey',
 94,
 'Mouse',
 'Mickey',
 97,
 98,
 'Mickey',
 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [33]:
def swap(x,y):
    a=x
    b=y
    x=b
    y=a
    return x,y

In [34]:
r=1
t=2
swap(r,t)

(2, 1)

In [35]:
r

1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [37]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [52]:
def unique(lista): 
    y=set(lista)
    print('Unique numbers:',y)
    x=len(y)
    print('Number of unique numbers:', x)

In [53]:
unique(l)

Unique numbers: {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
Number of unique numbers: 54

6.Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [62]:
def square(number):
    sq=number**2
    return sq
    
def cube(number):
    cb=number**3
    return cb

def sixpower(number):
    six=square(number)*cube(number)
    return six

In [65]:
n=2
square(n),cube(n), sixpower(n)

(4, 8, 32)

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [76]:
cubesa=[]
for i in range(0,11):
    cubesa.append(i**3)
cubesa

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [68]:
cubesb=[x**3 for x in range(0,11)]
cubesb

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [94]:
m=[2,1,3]
m.sort()
m

[1, 2, 3]

In [102]:
l=[]
for i in range(1,101):
    for j in range(1,101):
        for k in range(1,101):
            m=[i,j,k]
            if (i**2)+(j**2)==k**2:
                m.sort()
                l.append(m)
l

[[3, 4, 5],
 [3, 4, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [6, 8, 10],
 [8, 15, 17],
 [9, 12, 15],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [5, 12, 13],
 [9, 12, 15],
 [12, 16, 20],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [8, 15, 17],
 [15, 20, 25],
 [15, 36, 39],
 [12, 16, 20],
 [16, 30, 34],
 [16, 63, 65],
 [18, 24, 30],
 [18, 80, 82],
 [15, 20, 25],
 [20, 21, 29],
 [20, 48, 52],
 [20, 21, 29],
 [21, 28, 35],
 [21, 72, 75],
 [7, 24, 25],
 [10, 24, 26],
 [18, 24, 30],
 [24, 32, 40],
 [24, 45, 51],
 [24, 70, 74],
 [25, 60, 65],
 [27, 36, 45],
 [21, 28, 35],
 [28, 45, 53],
 [28, 96, 100],
 [16, 30, 34],
 [30, 40, 50],
 [30, 72, 78],
 [24, 32, 40],
 [32, 60, 68],
 [33, 44, 55],
 [33, 56, 65],
 [12, 35, 37],
 [35, 84, 91],
 [15, 36, 39],
 [27, 36, 45],
 [36, 48, 60],
 [36, 77, 85],
 [39, 52, 65],
 [39, 80, 89],
 [9, 40, 41],
 [30, 40, 50],
 [40, 42, 58],
 [40, 75, 85],
 [40, 42, 58],
 [42, 56, 70],
 [33, 44, 55],
 [24, 45, 51],
 [28, 45, 53],
 [45, 60, 75],
 [14, 48, 50],
 [20, 48, 52],
 [36, 48, 60],
 [48, 55, 73],
 [48, 64, 80],
 [51, 68, 85],
 [39, 52, 65],
 [54, 72, 90],
 [48, 55, 73],
 [33, 56, 65],
 [42, 56, 70],
 [57, 76, 95],
 [11, 60, 61],
 [25, 60, 65],
 [32, 60, 68],
 [45, 60, 75],
 [60, 63, 87],
 [60, 80, 100],
 [16, 63, 65],
 [60, 63, 87],
 [48, 64, 80],
 [65, 72, 97],
 [51, 68, 85],
 [24, 70, 74],
 [21, 72, 75],
 [30, 72, 78],
 [54, 72, 90],
 [65, 72, 97],
 [40, 75, 85],
 [57, 76, 95],
 [36, 77, 85],
 [18, 80, 82],
 [39, 80, 89],
 [60, 80, 100],
 [13, 84, 85],
 [35, 84, 91],
 [28, 96, 100]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one